body *{
	font-family: 'Raleway-Regular';
}


@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('?'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*
@font-face {
  font-family: 'Raleway-Regular';
  src: url(./fonts/Raleway-Regular.ttf);
}*/


.x-toolbar-dark {
   background-color:#204377;
   background-image: none;
   .x-innerhtml {
     color: #ffffff;
     text-shadow: 0px 1px rgba(255,255,255,.3);
   }
   
}
.x-label .x-layout-box-item .x-stretched{
	border-width: 0px 0px 1px 0px !important;
	border-style: solid !important;
	border-color: rgb(194, 37, 37) !important;
}

.x-toolbar-dark.x-docked-top{
	border-bottom-color: transparent !important;
}

.mettingHistoryToolBar{
	background-color:#204377;
}

.signIn {
	background-color : #ffffff;
}
.loginCLS{
	background-color : #f7f7f7;
}
.signUp {
	background-color : #ffffff;
}
.entrepreneur {
	background-color : #ffffff;
}
.meetingdetails{
	background-color : #ffffff;
}
.enterpreneur_action_items{
	background-color : #ffffff;
}
.timing{
	background-color : #ffffff;
}
.mentor_action_items{
	background-color : #ffffff;
}
.forgotpassword{
	background-color : #ffffff;
}
.meetinghistory{
	background-color : #ffffff;
}
.menteereviewform{
	background-color : #ffffff;
}
.mentorreviewform{
	background-color : #ffffff;
}
.mentorprofile{
	background-color : #ffffff;
}

.login-top{
	margin-top:10px;
}
.x-button-label{
	font-family : 'Raleway-Regular' !important;
}
.signin-btn-cls{
	margin-top:20px;
	background-image : none;
	/*background-color : #66cc66;*/
	background-color : #339e70;
	color : #fff;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	border-radius: 0;
	
}
.signin-register-btn-cls{
	margin-top:20px;
	background-image : none;
	background-color : #ffffff;
	color : #66cc66;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 10px;
	padding: 15px;
	border-radius: 0;
	border-color : #66cc66;
}
.x-toolbar-dark .x-button, .x-toolbar-dark .x-button.x-button-back::after, .x-toolbar-dark .x-button.x-button-forward::after, .x-toolbar .x-toolbar-dark{
	background-color: transparent !important;
	background-image: none;
	border: 0;
}
.signout-btn-cls{
	margin-top:20px;
	background-image : none;
	background-color:#66cc66;
	color : #ffffff;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 10px;
	padding: 15px;
	border-radius: 0;
	border-color : #66cc66;
}

.forgotpassword-btn-cls{
	
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom : 10px;
	color : #808080;
}

.radio-btn-cls{
	background-color:transparent;
}
.x-input-radio:checked + .x-field-mask::after {
	background: #cf3229;
}
.x-input-el:checked + .x-field-mask::after{
	color: #cf3229;
}

.textFieldDisableCLS{
	color : #E0DFDF;
	/*border: 1px solid #66cc66;*/
	border: 1px solid #808080 !important;
	
}



.x-form-fieldset .x-form-fieldset-inner{
	/*border: 1px solid #66cc66;*/
	border: 1px solid #cacaca;
}


.x-input-checkbox:checked  + .x-field-mask:after  {
    background-image:url('../images/checkbox_checked.png');
    background-size: contain;
	background-size: contain;
	content: "";
	height: 20px;
	width: 20px;
	position: absolute;
	top: 12px;
   
}

.x-input-checkbox  + .x-field-mask:after {
    background-image:url('../images/checkbox_unchecked.png');
    background-size: contain;
	background-size: contain;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 12px;
    
}

.textFieldMentorReviewFormCLS .x-form-text, .username .x-form-field {
    background: url('../images/checkbox_unchecked.png') no-repeat left;
    background-size: contain;
    padding-left: 25px;
}



.inputCLS{
	background-image: url('../images/edit.png');
	background-position: 98% 50%;
	background-size: 1.5em;
	background-repeat: no-repeat;
	padding-right: 2em;
}

.decline-btn-cls{
	margin-top:20px;
	background-image : none;
	background-color :red;
	color : #fff;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	border-radius: 0;
}
.statisfactionCLS.x-field-radio .x-field-mask{
	
	width: 35px;
	
}

/*.x-field .x-field-input{
	  min-width: 2.5em !important;
}*/
.x-field .x-field-input{
	  min-width: 2em !important;
}

.x-toolbar.my-titlebar-review_form .x-innerhtml {
    font-size: 0.7em;
}

#idLabelSelectMenteeEnterpreneurScreen , #idLabelSelectMeetingTypeEnterpreneurScreen  , #idLabelSelectMainTopicEnterpreneurScreen , #idLabelSelectMeetingPlaceEnterpreneurScreen{
	margin: .2em .5em .0em .5em;
}

.x-form-fieldset-title{
	margin: 1em 0.2em 0.3em;
}
/* Carousel Introduction Screen*/
.x-carousel-indicator-dark span.x-carousel-indicator-active{
background-color: red;
}
.x-carousel-indicator-dark span{

background-color: lighten(#5599FF,10);
}

/*** Profile***/
.photo-preview-cls {
    width: 5em;
    height: 5em;
    background-image: url("../images/person.png");
    background-position: center;
    background-size: cover;
    margin-right: 0.2em;
	border-radius: 50%;
}
.userProfileLabelCLS{
	font-weight: bold;
	font-size:14px;
	-webkit-box-align: center;
	color: #204377;
	padding-left: .5em
}
.profileAddInterestCLS{
	color : #204377;
	font-size: larger;
	font-weight: bold;
}
.profileAddInterestDetailCLS{
	color : #999999;
	font-size: smaller;
}
#idSkillsProfile .x-inner{
	display: inline !important;
    
}
.profileSkillsInActiveCLS{
	font-size: smaller;
	background: white;
	border: 1px solid #c6c6c6;
	margin-top : 5px;
	margin-right : 5px;
	
}
.profileSkillsActiveCLS{
	font-size: smaller;
	background: #204377;
	border: 1px solid #c6c6c6;
	color : white;
	margin-top : 5px;
	margin-right : 5px;
}
.saveProileIconCLS{
	background-size: 80%;
    background-repeat: no-repeat;
	background-image:url('../images/save.png') ;
}
/*****End ****/

/* Ratting */
.x-rating{min-height:25px;}
.x-rating .x-component-outer{position: relative; padding:0.6em;min-height: 40px;}
.x-rating .starContainer, .x-rating .starFakeContainer{position:absolute; top:0px;left:0px; width:100%; height:100%; }
.x-rating .starFakeContainer{z-index:10;}
.x-rating .starContainer{display:-webkit-box; -webkit-box-align:center;-webkit-box-pack:center;}
.x-rating .starContainer .center, .x-rating .starContainer .left, .x-rating .starContainer .right{-webkit-box-flex:1}
.x-rating .star{border:0px !important;padding:0px !important;margin:0px 0px 0px -12.5px !important;position:absolute; left:16.66%; top:5px; -webkit-mask:url(star.png) left center no-repeat; -webkit-mask-size:25px 25px; background-color:#ff0000; width:25px; height:25px; opacity:.2; -webkit-transform: scale(1,1);}
.x-rating .star2{left:33.33%;}
.x-rating .star3{left:49.99%;}
.x-rating .star4{left:66.66%;}
.x-rating .star5{left:83.33%;}
.x-rating .star.active{-webkit-transform: scale(1,1); opacity:1;background-image:-webkit-linear-gradient(top, #ff9600,#ff9600 3%,#ff9600);}


#idSatisfactionAdviceAndFeedbackMenteeReviewForm  div.x-form-label{
	background-color:rgba(0,0,0,0);
}
#idSatisfactionReleveantProblemMenteeReviewForm  div.x-form-label{
	background-color:rgba(0,0,0,0);
}
#idSatisfactionOverallSubjectMenteeReviewForm  div.x-form-label{
	background-color:rgba(0,0,0,0);
}
#idSatisfactionClearAndUnderstandableMenteeReviewForm  div.x-form-label{
	background-color:rgba(0,0,0,0);
}
#idSatisfactionWithMeeting  div.x-form-label{
	background-color:rgba(0,0,0,0);
}

/*** Bottom Tab bar*/
.x-tabbar-light {
    border-top-color: #E5E5E5 !important;
    border-bottom-color: #E5E5E5 !important;
    background-image: none;
    background-color: #E5E5E5 !important;
    background-image: -webkit-linear-gradient(top, #E5E5E5,#E5E5E5 3%,#E5E5E5) !important;
    background-image: -moz-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e)!important;
    background-image: -o-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
    background-image: -ms-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
}

.x-tabbar-dark {
    border-top-color: #E5E5E5 !important;
    border-bottom-color: #E5E5E5 !important;
    background-image: none;
    background-color: #E5E5E5 !important;
    background-image: -webkit-linear-gradient(top, #E5E5E5,#E5E5E5 3%,#E5E5E5) !important;
    background-image: -moz-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e)!important;
    background-image: -o-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
    background-image: -ms-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
}

.x-tabbar.x-docked-bottom .x-tab .x-button-label{
    letter-spacing: 1px;
    font-weight: 100;
    font: -webkit-small-control;
}

.x-toolbar .x-button .x-button-icon:before {
    font-size: 30px ! important;

}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
    background-size: 100%;
    background-repeat: no-repeat;

}

.mettingHistoryIconMentorBottomTabView{
    background-image:url('../images/metting_history_inactive.png') ;
}

.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.mettingHistoryIconMentorBottomTabView{
    background-image:url('../images/metting_history_active.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.pendingInvitesIconMentorBottomTabView{
  background-image:url('../images/pending_invites_inactive.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.pendingInvitesIconMentorBottomTabView{
     background-image:url('../images/pending_invites_active.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.myProfileIconMentorBottomTabView{
  background-image:url('../images/my_profile_inactive.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.myProfileIconMentorBottomTabView{
     background-image:url('../images/my_profile_active.png') ;
}

/*Active Tab Icon Color*/
.x-tabbar.x-docked-bottom .x-tab-active{
    color: #39619C;
 
}

/*InActive Tab Icon Color*/
.x-tabbar-light .x-tab{
	 color: #000000;
}
.x-tabbar-light.x-docked-bottom .x-tab {
	text-shadow : none !important;
}
.x-tabbar-light.x-docked-bottom .x-tab-active .x-button-icon:before {
    color: #38609B !important;
}

.x-tabbar-light.x-docked-bottom .x-tab-active {
    background-image: none  !important;
    background-color: transparent  !important;
    background-image: none  !important;
    background-image: none  !important;
    background-image: none !important;
    background-image: none  !important;
    text-shadow: none  !important;
    -webkit-box-shadow: none  !important;
    -moz-box-shadow:none  !important;
    box-shadow: none  !important;
}


/** Mentor Metting History */
.addMettingMentorMettingHistory{
	 background-size: 80%;
    background-repeat: no-repeat;
	 background-image:url('../images/add_icon.png') ;
}
.searchFieldCls {
	margin : 10px !important;
	
}
.x-field-search .x-field-input .x-form-field{
	margin-left : 0 !important;
	padding-left : 2em;
}
.refreshIcon{
	 background-size: 80%;
    background-repeat: no-repeat;
	 background-image:url('../images/refresh.png') ;
}

/*** End ****/


/** Review Form **/
.reviewFormLabelCLS{
	font-weight: bold;
	font-size:14px;
	-webkit-box-align: center;
	color: #204377;
}
.btnBackCLS{
	background-image:url('../images/btn_back.png') ;
	background-size: 80%;
    background-repeat: no-repeat;
}
/** End Review Form **/ 


/**Accept and Reject Respond Mentee Request **/
.textFieldDisableAcceptAndRejectMenteeRequestCLS{
	color : #f7f7f7;
	/*border: 1px solid #66cc66;*/
	border: 1px solid #cacaca !important;
	
}
.tick{
        background-image: url('../images/tick.png');
    background-color: white !important;
    border: none;
    width: 52px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px;
    height: 50px;
    margin: 10px;
}
.cancel{
     background-image: url('../images/cancel.png');
    background-color: white !important;
    border: none;
    width: 52px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 48px;
    height: 50px;
    margin: 10px;
}
/** End **/

/***Timming Screen ****/
.startSession-btn-cls{
	margin-top:20px;
	background-image : none;
	/*background-color : #66cc66;*/
	background-color : #204377;
	color : #fff;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	border-radius: 0;
	
}
.endSession-btn-cls{
	margin-top:20px;
	background-image : none;
	/*background-color : #66cc66;*/
	background-color : #595959;
	color : #fff;
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	border-radius: 0;
	
}
/**END ***/


/**** Mentee Invites Screen***/
.x-tabbar-dark.x-docked-top .x-tab-active{
	color: #fff;
    border-bottom: #204377;
    border-style: solid;
	background-color: transparent; 
     background-image: none !important; 
    border-radius: 0;
	color: #204377;
	    border-width: 0px 0px 1px 0px !important;
	
}
.x-tabbar-dark .x-tab{
	color : #808080;
}
.x-tabbar.x-docked-top{
	padding : 0;
}
.x-tabbar.x-docked-top .x-tab{
	padding: 0.7em 0.8em;
    height: 2.6em;
}
/**End **/

/***Login****/

.userNameLoginCLS .x-form-text, .userNameLoginCLS .x-form-field {
    background: url('../images/user.png') no-repeat left;
    background-size: 22px;
    padding-left: 25px;
	/*border: 1px solid #cacaca !important;*/
	
}
.userNameLoginCLS .x-form-field { /* Adding more padding for Sencha Touch only */
    padding-left: 30px;
}
.userNameLoginCLS , .passwordLoginCLS{
	border: 1px solid #cacaca !important;
}

.passwordLoginCLS .x-form-text, .passwordLoginCLS .x-form-field {
    background: url('../images/password.png') no-repeat left;
    background-size: 22px;
    padding-left: 25px;
	/*border: 1px solid #cacaca !important;*/
	
}
.passwordLoginCLS .x-form-field { /* Adding more padding for Sencha Touch only */
    padding-left: 30px;
}

.signInLabelLoginCLS{
	text-align: -webkit-center;
	color : #204377;
	font-size: xx-large;
	font-weight: bold;
}
/*.profileSkillsCLS{
	display : inline !important;
}*/
/**End ***/

/*** Message Box **/
.x-msgbox-dark .x-msgbox-text{
    color: black;
    text-shadow: none;
    margin-top: 10px;
    
}
.x-msgbox .x-msgbox-buttons .x-layout-box .x-button{
    background-color: #204478 !important;
    background-image: none;
    border-radius: 3px;
    border-color: none;
}
.x-msgbox{
    background-color: #F7F7F7;
    
}
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-msgbox-title{
    background-color: #204478;
    margin: -6px;
    
}

/***End *****/

/*** Count Down */
.stopWatchPanel{
    font-size: 43px;
    font-style: bold;
    font-size: 5em;
    text-align: center;
    margin-right: 10px;
    height: inherit !important;
}
.labeltime{
    font-size: smaller;
   /* margin-left: 22px;
    margin-right: 10px;*/
	text-align : center;
}
#seperator{
    width: 10px;
    background-color: #ffffff;
	margin-top: 0;
}
.timeBlock{
    font-size: 50px;
    background-color: #E7E8EA;
    border-radius: 10%;
    margin-top: 19px;
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    text-align: center;
    padding-bottom: 7px;
}
/*** End Count Down */